html, body{
    height: 100%;
    margin: 0;
}

body{
    background-color: #98c9a3;
    display: flex;
    flex-direction: column;
   
}



.page-content{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.form-div{
    background-color: #edeec9;
    padding: 60px;
    border-radius: 16px;
    max-width: 600px;
    width: 100%;

}

.form-title{
    text-align: center;
    margin-bottom: 20px;
}


.welcome-div{
    background-color: #edeec9;
    padding: 50px 50px;
    max-width: 500px;
    border-radius: 16px;
    max-height: 200px;
    margin-top: 100px;
}

footer{
    text-align: center;
}