* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

/* header_nav css */

.header_nav{
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    background: #ECECF0;
    display: flex;
    justify-content: center;
}

.header_nav_layout{
    width: 70%;
    height: 120px;
    /* padding: 0px 25px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    color: #717182;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

 a.active{
    color: #000;
 }

 .navbar a:hover{
    color: #ffffff;
    background: #717182;
 }

.site_name_1{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.site_name_2{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Home page css */

figure > img{
    margin-top: 80px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 100px;

}

.home_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_content > p{
    color: var(--font-color-2, #717182);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.312px;
    width: 70%;
    padding: 10px;
    
}

.home_content .name{
     color:#000;
}

/* footer css */

.footer_box{
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    background: #ECECF0;
    display: flex;
    justify-content: center;
}

.footer_content{
    width: 70%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    display: flex;
    align-items: center;
}

.footer_content img{
    width: 80px;
    margin-right: 10px;
    flex-shrink: 0;
}

.footer_content p{
    color: #21446E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_content p.text-muted-foreground{
    color: var(--font-color-2, #717182);
}

/* about css */
.role_backgroud{
    display: flex;
  
    flex-direction: column;
    align-items: center;

}

.section_box{
  width: 70%;
  margin-top: 60px;
}

table{
    border-spacing: 0px 10px;
}

tr.table-row{
    height: 70px;
    border: 1px solid var(--BG-gray, #ECECF0);
    background: #ffffff;

}

td{
    background: #ECECF0;
    padding: 15px;
    color: var(--skill-blue, #859797);
}

td.role_title{
    color: #ffffff;
    background: var(--skill-blue, #859797);
}

section  p{
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
}

.unorder_list{
    padding-left: 16px;
}
.unorder_list  li{
    color: var(--skill-blue, #859797);
    margin-top: 12px;

}


