body {
            background-image: url('../img/mountain.jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

.glass-card {
    background: rgba(255,255,255,0.55);
    backdrop-filter: blur(10px);
    border-radius: 18px;
}

.blur-bg{
    backdrop-filter: blur(10px);
    opacity: 0.8;
}